<!-- NAVBAR OR HEADER -->
<header class="header">
    <div class="header-left">
        <h1><a href="/" class="nav-link">My Budget</a></h1>
    </div>
    <nav class="header-right">
        <% console.log(session.isadmin); if (session.isadmin == 1) { %>
            <a href="/users" class="nav-link">User Admin</a>
        <% } %>
        <a href="/accounts" class="nav-link">Accounts</a>
        <a href="/logout" class="nav-link logout">Logout</a>
    </nav>
</header>